<div class="container {{ elementClassName }}">

  <div class="rail-left">{{yield railLeft}}</div>
  <div class="river">{{yield river}}</div>
  <div class="rail-right">{{yield railRight}}</div>

</div>
